Source: ros-indigo-ecto-ros
Section: misc
Priority: extra
Maintainer: Vincent Rabaud <vincent.rabaud@gmail.com>
Build-Depends: debhelper (>= 9.0.0), libeigen3-dev, ros-indigo-catkin, ros-indigo-cmake-modules, ros-indigo-cv-bridge, ros-indigo-ecto, ros-indigo-geometry-msgs, ros-indigo-message-generation, ros-indigo-nav-msgs, ros-indigo-rosbag, ros-indigo-roscpp, ros-indigo-rosmsg, ros-indigo-sensor-msgs, ros-indigo-std-msgs
Homepage: http://plasmodic.github.io/ecto_ros
Standards-Version: 3.9.2

Package: ros-indigo-ecto-ros
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, libeigen3-dev, ros-indigo-cv-bridge, ros-indigo-ecto, ros-indigo-geometry-msgs, ros-indigo-message-generation, ros-indigo-message-runtime, ros-indigo-rosbag, ros-indigo-roscpp, ros-indigo-std-msgs
Description: A set of generic cells to interact with ROS
