Source: ros-groovy-ecto-ros
Section: misc
Priority: extra
Maintainer: Vincent Rabaud <vincent.rabaud@gmail.com>
Build-Depends: debhelper (>= 9.0.0), libeigen3-dev, ros-groovy-catkin, ros-groovy-cmake-modules, ros-groovy-cv-bridge, ros-groovy-ecto, ros-groovy-geometry-msgs, ros-groovy-message-generation, ros-groovy-nav-msgs, ros-groovy-rosbag, ros-groovy-roscpp, ros-groovy-rosmsg, ros-groovy-sensor-msgs, ros-groovy-std-msgs
Homepage: http://plasmodic.github.io/ecto_ros
Standards-Version: 3.9.2

Package: ros-groovy-ecto-ros
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, libeigen3-dev, ros-groovy-cv-bridge, ros-groovy-ecto, ros-groovy-geometry-msgs, ros-groovy-message-generation, ros-groovy-message-runtime, ros-groovy-rosbag, ros-groovy-roscpp, ros-groovy-std-msgs
Description: A set of generic cells to interact with ROS
